.section {
    background-color: #3A52CA;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #2B1F72;
}

.section .main-title {
    margin-bottom: 60px;
}

.section.-vSection {
    background-color: black;
    border-color: #3A52CA;
}