h1 {
    color:#3A52CA;
    font-size: 40px;
    font-family: "Press Start 2P";
    text-shadow: 4px 4px 4px black;

}

h2 {
    font-family: "Press Start 2P";
    color: white;
    font-size: 30px;
}