.title {
    color:#3A52CA;
    font-size: 40px;
    font-family: "Press Start 2P";
    text-shadow: 4px 4px 4px black;
}

.title.-second {
    color: white;
    text-shadow: none;
    text-align: center}